########################################
# Python
########################################

__pycache__/
*.py[cod]
*.so

########################################
# Virtual Environments
########################################

.venv/
venv/
env/

########################################
# IDE
########################################

.vscode/
.idea/

########################################
# Jupyter
########################################

.ipynb_checkpoints/

########################################
# Pytest
########################################

.pytest_cache/

########################################
# Coverage
########################################

.coverage
htmlcov/

########################################
# Build
########################################

build/
dist/
*.egg-info/

########################################
# Logs
########################################

*.log

########################################
# Outputs
########################################

outputs/models/*
outputs/logs/*
outputs/figures/*
outputs/reports/*

!outputs/models/.gitkeep
!outputs/logs/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep

########################################
# Data
########################################

data/raw/*
data/processed/*
data/synthetic/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/synthetic/.gitkeep

########################################
# OS
########################################

.DS_Store
Thumbs.db

########################################
# TensorBoard
########################################

events.out.tfevents*

########################################
# Python
########################################

.python-version

########################################
# Windows
########################################

Desktop.ini
